section.auctions {
  margin-bottom: 82px;
  .heading-with-bubble{
    margin-bottom: 84px;
  }
  .mantine-Carousel-root {
    padding-left: 80px;
    .mantine-Carousel-container {
      .mantine-Carousel-slide {
        .carousel-card {
          background: #3d2942;
          width: 495px;
          height: 100%;
          padding: 32px 32px 28px 32px;
          .image-wrapper {
            position: relative;
            width: 100%;
            margin-bottom: 28px;
            .nft-image {
                width: 100%;
            }
            .nft-timer {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 194px;
              height: 66px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 28px;
            .author {
              img.author-image {
              }
              .author-info {
                .author-name {
                }
                .author-username {
                }
              }
            }
            .likes {
              .like-button {
                .heart-icon {
                }
              }
              .likes-count {
              }
            }
          }
          .price {
            span {
            }
            .price-value {
            }
          }
          .btn {
          }
        }
      }
    }
  }
}
